%header.navbar.navbar-default
  .container
    .navbar-header
      %nav.navbar.navbar-light.bg-light
        %span.navbar-brand= link_to 'MyClinic', root_path, class: "btn btn-outline-primary"
        %span= link_to 'Sign up', new_user_registration_path
        %span= link_to 'Log in', new_user_session_path
        %span= button_to 'Log out', destroy_user_session_path, method: :delete
